body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--rich_black);
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

@keyframes slideIn{
    from{
        opacity: 0;
        transform: translateY(-200px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInHr{
    from{
        width: 0;
    }

    to{
        width: 100%;
        border: 2px solid var(--mint_cream);
        border-radius: 5px;
    }
}

@keyframes sectionTitle {
    from{
        transform: translateY(0);
    }

    to{
        transform: translateY(-100px);
    }
}

@keyframes fade-in {
    to { scale: 1; opacity: 1;}
}

:root{
    --light_blue: #93B7BE;
    --mint_cream: #F1FFFA;
    --gunmetal: #1B2432;
    --rich_black: #121420;
    --nav: rgb(36, 34, 61);

    --title_size: 2rem;
    --nav_items: 1.4rem; 
    --leiras: 1.6rem;
    --text_size: 1.2rem;
}

nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    background-color: var(--nav);
    color: white;
    animation: slideIn 0.8s;

    #cim{
        font-size: 1.5rem;
        cursor: pointer;
    }

    #elemek{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .elem{
            background-color: var(--nav);
            font-size: var(--nav_items);
            padding: 5px 10px;
            height: 4vh;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
        }

        .elem:hover{
            transition: 0.3s;
            box-shadow: 0px 0px 20px var(--mint_cream);
        }
    }
}

a{
    color: white;
    text-decoration: none;
}

header{
    width: 100%;
    height: 70vh;
    background-color: var(--rich_black);
    display: grid;
    grid-template-columns: 1fr 30vw 1fr 40vw 1fr;
    grid-template-rows: 1fr 30vh 2vh 20vh 1fr;
    column-gap: 20px;
    animation: slideIn 0.8s;
    margin-bottom: 100px;

    hr{
        grid-column: 2;
        grid-row: 3;
        border: 2px solid var(--rich_black);
        border-radius: 5px;
        animation: slideInHr 0.8s forwards;
        animation-delay: 0.8s;
    }
    #kep{
        grid-column: 4;
        grid-row: 2 / 5;
        background-color: var(--rich_black);
        border-radius: 20px;
        border: none;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        video{
            border-radius: 20px;
        }
    }

    #cim{
        grid-column: 2;
        grid-row: 2;
        color: white;
        font-size: var(--title_size);
    }

    #text{
        grid-column: 2;
        grid-row: 4;
        color: white;
        font-size: var(--leiras);
        text-align: justify;
    }
}

main{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(to bottom, var(--rich_black), var(--gunmetal));
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button{
        width: 40vw;
        height: 40vh;
        border-radius: 50px;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: none;

        h3{
            color: transparent;
            font-size: var(--title_size);
            text-shadow: -1px 1px 2px var(--mint_cream),
                         -1px 1px 2px var(--mint_cream),
                         -1px 1px 2px var(--mint_cream),
                         -1px 1px 2px var(--mint_cream);
            transition: 0.5s;
        }
    }

    #build{
        background-image: radial-gradient(var(--rich_black), var(--gunmetal));
    }

    #parts{
        background-image: radial-gradient(var(--gunmetal), var(--rich_black));
    }

    button:hover{
        transition: 0.5s;
        box-shadow: 0px 0px 30px var(--mint_cream);

        h3{
            text-shadow: none;
            color: var(--mint_cream);
            transition: 0.5s;
        }
    }
}

footer{
    background-color: var(--gunmetal);
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--mint_cream);
    border-top: 3px solid var(--mint_cream);
    font-size: var(--nav_items);
}

#about{
    height: 800px;
    width: 100%;
    background-color: var(--light_blue);
}
