body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90vh;
    background-color: var(--rich_black);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

@keyframes slideIn{
    from{
        opacity: 0;
        transform: translateY(-200px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInRight{
    from{
        opacity: 0;
        transform: translateX(-200px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInBottom{
    from{
        opacity: 0;
        transform: translateY(200px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInHr{
    from{
        width: 0;
    }

    to{
        width: 100%;
        border: 2px solid var(--mint_cream);
        border-radius: 5px;
    }
}

@keyframes sectionTitle {
    from{
        transform: translateY(0);
    }

    to{
        transform: translateY(-100px);
    }
}

@keyframes fade-in {
    to { scale: 1; opacity: 1;}
}

:root{
    --light_blue: #93B7BE;
    --mint_cream: #F1FFFA;
    --gunmetal: #1B2432;
    --rich_black: #121420;
    --nav: rgb(36, 34, 61);
    --box_shadow: rgb(78, 29, 170);

    --title_size: 2rem;
    --nav_items: 1.4rem; 
    --leiras: 1.6rem;
    --text_size: 1.2rem;
}

nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color: var(--nav);
    color: white;
    animation: slideIn 0.8s;
    z-index: 100;

    #cim{
        font-size: 1.5rem;
        cursor: pointer;
    }

    #elemek{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .elem{
            background-color: var(--nav);
            font-size: var(--nav_items);
            height: 4vh;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            padding: 5px 10px;
            gap: 5px;


            img{
                height: 25px;
            }
        }

        .elem:hover{
            transition: 0.3s;
            box-shadow: 0px 0px 20px var(--mint_cream);
        }
    }
}

a{
    color: white;
    text-decoration: none;
    transition-duration: 0.15s;
}

.hidden{
    display: none;
}

main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: slideInBottom 0.8s;
    #side_bar{
        box-sizing: border-box;
        z-index: 99;
        opacity: 0;
        width: 250px;
        height: 100%;
    
        background-color: var(--gunmetal);
        animation: slideInRight 1s forwards;
        animation-delay: 0.5s;
        padding: 30px;

        button{
            border: none;
            background-color: var(--light_blue);
            color: white;
            padding: 15px;
            border-radius: 5px;
        }
    
        ul{
            list-style: none;
            width: 100%;
            height: 100%;
            position: relative;
            li{
                margin: 20px 0;
                font-size: var(--nav_items);
    
                a:hover{
                    color: var(--light_blue);
                    transition-duration: 0.3s;
                }
            }
            li:last-of-type{
                position: absolute;
                bottom: 10px;
                
                button{
                    cursor: pointer;
                }
            }
        }
    }
    
    #alkatreszek{
        width: 100%;
        height: 100%;
        padding: 50px;
        color: white;
        overflow-x: hidden;

        .alkatresz {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            border: 3px solid var(--box_shadow);
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            background-color: var(--gunmetal);
            transition: all 0.3s ease-in-out;
            position: relative;
            overflow: hidden;
        }

        .first{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;

            div{
                padding: 0px 20px;
            }
        }
        
        .alkatresz img {
            width: 100px;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        
        .alkatresz .info {
            width: 100%;
            margin-bottom: 10px;
        }
        
        .alkatresz button {
            align-self: flex-start;
            background-color: #007BFF;
            color: white;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            margin: 10px;
        }
        
        .alkatresz button:hover {
            background-color: #0056b3;
        }
        
        #detailed {
            display: none;
            width: 100%;
            margin-top: 10px;
            padding: 10px;
            background-color: #eef;
            border: 1px solid #aad;
            color: black;
            border-radius: 5px;
            font-style: italic;
            animation: fadeIn 0.3s ease;
        }
        
        
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        
        
    }
    
}

.group{
    width: 100%;
    padding: 30px 0px;
    height: auto;
}

@media (max-width: 1023px){
    main{
        #alkatreszek{
            .alkatresz{
                .first{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                }
            }
        }
    }
}